@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Quattrocento:wght@400;700&display=swap');

    :root {
        --color-blk: 0 0 0;
        --color-wht: 255 255 255;
        --text-primary: 0 0 0;
        --text-secondary: 255 255 255;
    }
    
    [data-theme='dark'] {
        --color-blk: 255 255 255;
        --color-wht: 0 0 0;
        --text-primary: 0 0 0;
        --text-secondary: 255 255 255;
    }
    
    [data-theme='light'] {
        --color-blk: 0 0 0;
        --color-wht: 255 255 255;
        --text-primary: 255 255 255;
        --text-secondary: 0 0 0;
    }
    
    @media (prefers-color-scheme: dark) {
        :root {
            --color-blk: 255 255 255;
            --color-wht: 0 0 0;
            --text-primary: 0 0 0;
            --text-secondary: 255 255 255;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

.App {
    background-color: var(--color-blk)
}

button {
    color: var(--text-primary);
}

html {
    @apply font-Cardinal
}